#logo {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 15px;
}

.new {
	font-size: 40px;
	margin-left: 50px;
}

#new1 {
	font-size: 20px;
	margin-left: 50px;
}

#table {
    background-color: red;
    color: white;
}

.th1 {
    text-align: left;
}

#background {
    position: absolute;
    z-index: -1;
    width: 90%;
    margin-left: 150px;
}

#inn {
    text-align: left;
}

#bat {
    text-align: left;

}

.table {
    border: 1px;
    border-style: solid;
	border-color: black;
	margin-left: 50px;

}

td,
th {
    font-size: 20px;
    height: 60px;
	width: 160px;
	text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }





.footer {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    position: relative;
    top: 650px;
    margin-left: 150px;
    font-size: 18px;
    font-family: Nunito Sans;
    font-style: normal;

}